<home class="home">

	<div class="container-fluid">

	<h1> This is home </h1>
<p> a </p>
<p> a </p>
<p> a </p>
<p> a </p>
<p> a </p>
<p> a </p>
<p> a </p>
<p> a </p>
<p> a </p>
<p> a </p>
<p> a </p>
<p> a </p>
<p> a </p>

	
	</div>

</home>