<script type = 'text/javascript'>
$( document ).ready(
	function() {

		$(".menu_item_whyus").css("color", "#222");

	}
);
</script>

<why_us class="why_us">

	<div class="container-fluid">
		<h1>StaticPages#why_us</h1>
		<p>Find me in app/views/static_pages/why_us.html.erb</p>
	</div>
	
</why_us>