@import "bootstrap"; 

$brand_blue:	#36a;

home{

	margin-top:	100px;
	display: 	block;
	background-color:	red;

}

why_us{

	margin-top:	100px;
	display: 	block;
	background-color:	red;

}

services{

	margin-top:	100px;
	display: 	block;
	background-color:	red;

}

new_contact{

	margin-top:	100px;
	display: 	block;
	background-color:	white;
	background-image:  	image-url("presentation.png");
	background-size: 	100% auto;
	
	@include make-row(20px);
}

contact{

	background-color: #bbb;

	width: 		400px;
	padding: 	20px;
	margin:		20px;
	
	font-family: 	Tahoma;
	
	border:		5px solid $brand_blue;
	
	display:	block;
	@include 	border-top-radius(15px);
	@include	border-bottom-radius(15px);
	
	@include	make-lg-column(4);
	@include	make-lg-column-offset(7);
	
	.phone_num{
		text-indent:	50px;
		font-size:	larger;
		font-weight:	bolder;
		
	}
}

.new_inquiry{
	
	.error_msg{
		list-style:	none;
		font-size:	smaller;
		font-weight:	bold;
		font-family:	Calibri;
		color:	red;
	}

}


header {
		
	.navbar{
		height: 100px;
		background-color: $brand_blue;
	
		
	}

	.navbar-default .navbar-nav{
	
		li{
			font-size: 25px;
			background-color: $brand_blue;
			padding: 20px;	
			
			a, a:hover{

				text-decoration:none;
			}

			a:hover{
				color: #222;
			}

			a{
				color: #DDD; 
			}
		}
		
	}

	a, a:hover{

		text-decoration:none;
	}
	
	.logo{


		font-family: Georgia;
		font-size:	60px;
		font-weight:  bold;
		color:	white;
	}
	
	.slogan{
		margin-top: 	-15px;
		margin-left: 	140px;
		font-size: 		small;
		color: 			white;
		font-family:	Calibri; 	
		
	}
	
}  /*header*/



footer{

	color: #CCC;
	background:	#444;
	padding-top: 	10px;
	padding-bottom:	10px;

	a {
		color: #CCC;
	}

	a:hover {
		color: #222;
	}

	small {
	  float: right;
	  
	}

	#share-buttons
	{

		float: left;
		

		img {
			width: 50px;
			padding-left: .5%;
			padding-right: .5%;
			border: 0;
			box-shadow: 0;
			display: inline;
		}
	}

} /*footer*/



