<!-- app/views/inquiries/_thanks.html.erb -->

<div class="thanks rightform"> 

<h1>Thank you!</h1>

<p>Your inquiry has been sent and we'll be in touch very soon.</p>


<p>Follow us in Google+ to have access to our latest research, interesting findings and on-line seminars.</p>
<!-- Place this tag where you want the widget to render. -->
<div class="g-page" data-width="273" data-href="https://plus.google.com/102344405509852987826" data-theme="light" data-layout="landscape" data-rel="publisher"></div>

<!-- Place this tag after the last widget tag. -->
<script type="text/javascript">
  window.___gcfg = {lang: 'en-GB'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<div><a href="<%= contact_path %>" class="button"> Reload form </a></div>
	
</div>