<!-- app/views/inquiries/new.html.erb -->
<script type = 'text/javascript'>
$( document ).ready(
	function() {
		$(".menu_item_contact").css("color", "#222");
	}
);
</script>

<new_contact class="contact">
	<div class="container-fluid">

		<%= render 'ga_new' %>
		<%= render 'contact' %>

	</div>	
</new_contact>
