<footer class="footer">
	<div class="container-fluid">

		<div id="share-buttons">

			<!-- LinkedIn -->
			<a href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.acavltd.com" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" /></a>

			<!-- Twitter -->
			<a href="http://twitter.com/share?url=http://www.acavltd.com&text=Any burning question regarding technology and its impact on your business? Straightforward Independent Advice  " target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>
			 
			<!-- Facebook -->
			<!-- a href="http://www.facebook.com/sharer.php?u=http://www.acavltd.com" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a //-->
			 
			<!-- Google+ -->
			<a href="https://plus.google.com/share?url=http://www.acavltd.com" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/google.png" alt="Google" /></a>
			 
			<!-- Digg -->
			<a href="http://www.digg.com/submit?url=http://www.acavltd.com" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/diggit.png" alt="Digg" /></a>
			 
			<!-- Reddit -->
			<a href="http://reddit.com/submit?url=http://www.acavltd.com&title=Straightforward Independent Advice - ACAV Tech" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" /></a>
			 
			<!-- Pinterest -->
			<!-- a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img src="http://www.simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" /></a /-->
			 
			<!-- StumbleUpon-->
			<a href="http://www.stumbleupon.com/submit?url=http://www.acavltd.com&title=Straightforward Independent Advice - ACAV" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/stumbleupon.png" alt="StumbleUpon" /></a>
			 
			<!-- Email -->
			<%= #link_to image_tag("http://www.simplesharebuttons.com/images/somacro/email.png"), contact_path 
			%> 
				
		</div>

		<small>
			&copy; 2014 ACAV Ltd   
		</small>
			
			
		<a href="https://plus.google.com/102344405509852987826" rel="publisher" style="color:#444">_</a>
	</div>
</footer>